#filter-category {
    margin-right: 20px;
    width: 250px;
}
#add-event-button {
    margin-left: 15px;
    margin-top: 10px;
}
#add-events {
    margin-top: 50px;
}
#events-list {
    margin-top: 35px;
}